$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$bg-color-team: #f5f4fa;
$bg-footer-color: #2f303a;
$white-color: #ffffff;
$hover-button-color: #188ce8;
$card-set-gap: 30px;
$fontmain: Roboto, sans-serif;
$fontlogo: Raleway, sans-serif;
